fastapi
uvicorn[standard]
redis
python-dotenv
black
pytest
pytest-asyncio
pytest-cov
pytest-env
httpx
trio
requests
fakeredis
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-exporter-jaeger
opentelemetry-instrumentation-fastapi