django
djangorestframework
django-phonenumber-field
djangorestframework-simplejwt
django-cors-headers
django_extensions
phonenumbers
coverage
pytz
kafka-python
requests
psycopg2-binary
redis
fakeredis
django-environ
click==8.0.4
black==21.11b1
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-django
opentelemetry-instrumentation-psycopg2