django
djangorestframework
django-phonenumber-field
djangorestframework-simplejwt
django-cors-headers
django_extensions
phonenumbers
coverage
pytz
kafka-python
requests
psycopg2-binary
click==8.0.4
black==21.11b1